.carousel {
  position: relative;
}

.carousel-item {
  position: absolute;
  visibility: hidden;
 /* max-width: 500px; */
  opacity: 0.3;
  /* max-height: 500px; */
}

.carousel-item.visible {
  visibility: visible;
  /* width: 100%; */
  opacity: 1;
  /* transition: width 4s linear; */
  transition: opacity 6s linear;
  /* max-height: 50%; */
}
